<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- CONNECTION -->
    <route url="/" module="Connection" action="index" />
    <route url="/login" module="Connection" action="connexion" />
    <route url="/moncompte" module="Connection" action="monCompte" />
    <route url="/deconnexion" module="Connection" action="deconnexion" />
    <route url="/inscription" module="Connection" action="inscription" />
    <!-- GAME -->
    <route url="/jeu" module="Game" action="game" />
    <route url="/leaderboard" module="Game" action="leaderboard" />
</routes>