<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="connection" action="index" />
    <route url="/login" module="connection" action="connexion" />
    <route url="/moncompte" module="connection" action="monCompte" />
    <route url="/contact" module="connection" action="contact" />
    <route url="/deconnexion" module="connection" action="deconnexion" />
    <route url="/inscription" module="connection" action="inscription" />
    <route url="/jeu" module="game" action="game" />
    <route url="/leaderboard" module="game" action="leaderboard" />
</routes>
<!-- <route url="/news-([0-9]+)\.html" module="News" action="show" vars="id"/> -->