<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- CONNECTION -->
    <route url="/" module="connection" action="index" />
    <route url="/login" module="connection" action="connexion" />
    <route url="/moncompte" module="connection" action="monCompte" />
    <route url="/deconnexion" module="connection" action="deconnexion" />
    <route url="/inscription" module="connection" action="inscription" />
    <!-- GAME -->
    <route url="/jeu" module="game" action="game" />
    <route url="/leaderboard" module="game" action="leaderboard" />
</routes>